.contactContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	justify-content: flex-start;
	max-width: 50%;
	font-size: 1.5rem;
}

.contactSubheader {
	font-size: 1.5rem;
	margin-bottom: 1rem;
}

.formContent {
	display: flex;
	flex-direction: column;
	width: 100%;
	gap: 1rem;
}

.formLabel {
	display: flex;
	flex-direction: column;
	text-transform: uppercase;
	font-size: 1rem;
}

.formInput {
	font-size: 1.5rem;
}

.formSubmit {
	padding: 1rem 2rem;
	font-size: 1.5rem;
	max-width: 50%;
}

@media (max-width: 50rem) {
	.contactContainer {
		max-width: 100%;
	}
}
